.container-fluid {
    padding: 20px;
}

/* Mengatur tampilan card kendaraan */
.custom-card {
    border: 2px solid #091F5B;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #091F5B;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.card-text {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}

.card-body {
    color: #f8f9fa;
}

/* Mengatur tampilan card kecil */
.custom-small-card {
    border: 3px solid #091F5B;
    border-radius: 5px;
    padding: 5px;
    background-color: #c3c7d2;
    margin-top: 5px;
}

.card-text.text-center {
    size: 24px;
    color: #000000;
    font-weight: bold;
}


/* Mengatur tampilan search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.search-input {
    text-align: center;
    border: 2px solid #091F5B;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
}


.btn-secondary {
    background-color: #091F5B;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow: hidden;
    font-size: 17px;
}

.btn-secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #19347b;
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.btn-secondary:hover::before {
    width: 100%;
}

.btn-secondary:hover {
    color: #ffffff;
    transition: color 0.3s;
}


.container-fluid {
    background-color: #091F5B;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}